{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block body %}

<style>
    .body{background-color: #6F6FFF;}
</style>


<body class="body">
    
    <h1 style="color: #ffffff; text-shadow: 2px,2px,8px, #000000; text-align: center; left: 50%;"> Bem-vindo a veterianária</h1>
    <a type="button" class="btn btn-success" style="position: relative; border: 3px, solid; left: 45%; top: 250px;" href="{% url 'consulta:add_consulta' %}">Cadastrar atendimento</a>
    <a type="button" class="btn btn-dark" style="position: relative; border: 3px, solid; left: 37%; top: 320px;" href="{% url 'accounts:user_login' %}">Fazer Login</a>

</body>


{% endblock body %}